:root {
  --primary-color: #0091ad;
  --primary-light-md: #3bc0d9;
  --primary-light-lg: #81daeb;
  --primary-very-light: #bff5ff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.hero {
  font-size: 27px;
  font-weight: 700;
  letter-spacing: -1px;
  cursor: pointer;
  color: var(--primary-color);
}

.popup-nav {
 
  font-size: 1.2rem;
  height: 7vh;
  display: flex;
  padding-top:29px;
  padding-left: 31px;
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 8px;
}
.bottom-nav {
  background-color: var(--primary-color);
  font-size: 1.2rem;
  /* position: fixed; */
  /* bottom: 0; */
  /* z-index: 1; */
  /* width: 100%; */
}
h1 {
  /* font-size: 20px;
  text-align: center; */
}
.nav {
  position: relative;
  bottom: -3px;
}
.nav-icon {
  width: 25px;
  padding: 1em;
  padding: 5px;
}
.video-info {
  padding: 3px 10px;
  margin-top: 37px;
    margin-bottom: 13px;
}
