.codex-editor__redactor {
  padding-bottom: 0 !important;
}
#editorjs {
  font-size: 1.1rem;
  padding: 0 5px;
}
.save-text-btn {
  position: absolute;
  bottom: 0.5rem;
  left: 39vw;
  margin: 0 auto;
}
