:root {
  --primary-color: #0091ad;
  --primary-light-md: #3bc0d9;
  --primary-color: #0091ad;
  --primary-light-lg: #81daeb;
  --primary-very-light: #bff5ff;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}
#editorjs {
  font-size: 1.1rem;
  padding: 0 5px;
  text-align: left;
  padding: 0rem 1rem;
}
a.save-btn {
  font-size: 17px;
  background-color: var(--primary-very-light);
  color: black;
  font-weight: 600;
  padding: 3px 8px;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.3s;
  padding: 9px 13px
}
a.back-btn {
  font-size: 17px;
  color: black;
  font-weight: 600;
  background-color: var(--primary-very-light);
  padding: 3px 8px;
  text-decoration: none;
  border-radius: 3px;
 
  margin-right: 8px;
  transition: 0.3s;
  padding: 9px 13px
}
.buttons {
  display: flex;
  align-items: center;
  padding: 7px;
  margin-bottom: 7px;
  gap: 1rem;
  background-color: var(--primary-light-md);
  padding: 17px;
}

.editor-buttons{
  
  justify-content: center;
}
.back-btn:hover {
  background-color: var(--primary-light-lg);
}
.save-btn:hover {
  background-color: var(--primary-light-lg);
}

/* inline tools fix  */
button.ce-inline-tool.ce-inline-tool--last.ce-inline-tool--active,
button.ce-inline-tool,
button.ce-inline-tool.ce-inline-tool--bold,
button.ce-inline-tool.ce-inline-tool--italic {
  margin: 0;
}

.editor-timestamp{
  font-weight: 500;
}

.video-title-editor{
  font-weight: 500;
  font-size: 20px;
}
