:root {
  --primary-color: #0091ad;
  --primary-dark-md: #368a9b;
  --primary-light-md: #7fcddf;
  --primary-light: #cff2fa;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--primary-light);
}
.yt-logo {
  width: 50px;
}

.single-video {
  cursor: pointer;
  background-color: var(--primary-dark-md);
  border: 2px solid var(--primary-light-md);
  padding: 1em;
  margin: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

a.delete-btn {
  font-size: 17px;
  color: black;
  font-weight: 600;
  background-color: var(--primary-very-light);
  padding: 3px 8px;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid black;
  margin-right: 8px;
  transition: 0.3s;
}
a.delete-btn:hover {
  background-color: #fbc8c8;
}
.buttons {
  justify-content: flex-start;
}
