:root {
  --primary-color: #0091ad;
  --primary-dark-md: #368a9b;
  --primary-light-md: #7fcddf;
  --primary-light: #cff2fa;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  
}
.yt-logo {
  width: 43px;
}

.videos-subtitle{
  font-size: 22px;
}

.video-list{
  padding-bottom: 10px;
}

.single-video {
  cursor: pointer;
  background-color: var(--primary-dark-md);
  border-radius: 5px;
  padding: 1em;
  margin: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.main-videohome{
  max-height: 450px;
  overflow: auto;
}

a.delete-btn {
  font-size: 17px;
  color: black;
  font-weight: 600;
  background-color: var(--primary-very-light);
  padding: 3px 8px;
  text-decoration: none;
  border-radius: 3px;
  
  margin-right: 8px;
  transition: 0.3s;
  padding: 9px 13px
}
a.delete-btn:hover {
  background-color: #fbc8c8;
}
.childs h2{
  font-weight: 500;
}
.buttons {
  justify-content: flex-start;
}
