:root {
  --primary-color: #0091ad;
  --primary-light-md: #3bc0d9;
}

.note {
  width: 85%;
  border: 2px solid var(--primary-color);
  padding: 0.75em;
  margin: 0.7rem auto;
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 6px;
  transition: 0.1s;
}
.timestamp {
  cursor: pointer;
  padding: 0 1em;
}
.note:hover {
  background-color: var(--primary-light-md);
  width: 86%;
  padding: 0.8em;
}
.video-title {
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
}
.action-btn-icon {
  width: 22px;
}
.action-btn {
  padding: 5px;
  /* margin: 5px; */
}
.new-note {
  margin-bottom: 1rem;
  cursor: pointer;
}
